@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,400|Ubuntu+Condensed);
pre,
code,
.navbar-toggle,
.navbar-btn,
.navbar,
.form-group,
.form-control,
button,
input,
.btn,
.btn-primary,
.btn-default,
.btn-success,
.btn-danger,
.panel,
.well,
.dropdown-menu,
.navbar,
.modal-dialog,
.modal-content,
.modal,
.modal-body {
  border-radius: 0;
  border: 0;
  box-shadow: 0;
}
pre,
code,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.dropdown-menu,
a,
.fa {
  outline: none !important;
}
.container {
  margin-top: 100px;
}
img {
  width: 100%;
}
pre,
code {
  margin: 20px;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .btn {
  font-family: 'Ubuntu Mono', serif;
}
body nav {
  padding: 10px;
}
body a,
body p {
  padding: 10px;
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
}
body ul li a,
body ul li p {
  padding: 10px;
  font-size: 1.3em;
  font-family: 'Ubuntu Condensed', sans-serif;
}
body ul li a ul li,
body ul li p ul li {
  font-size: 1.3em;
  font-family: 'Ubuntu Condensed', sans-serif;
}
body ul li a ul li ul li,
body ul li p ul li ul li {
  font-size: 1.3em;
  font-family: 'Ubuntu Condensed', sans-serif;
}
body ul #content {
  margin: 30px;
}
body ul #content iframe {
  margin: 30px;
}
body footer {
  background: #333;
  color: #fff;
}
